*{
	font-family: 'Lato', sans-serif;
}
section {
    padding: 80px 0 !important;
}


/***************************
----------- Menu -----------
*****************************/

#mainNav{
	background-color: #fff;
}

#menu a{
	font-family: 'Lato', sans-serif;
	color: #4a5861;
	text-transform: initial;
}
#menu a[href='#connexion']{
	color: #ed8111;
}


.navbar-header img{
	position: absolute;
    top: 0;
}

/***************************
------- Header-Content ------
*****************************/
#template-header{
	min-height: 680px !important;
	
}
.header-content{
	background-color: rgba(0, 0, 0, 0.35) !important;
	height: 100%;
    padding: 80px 0 !important;
}
.homeHeading img{
	margin: 0 auto;
}
#recherche-group {
    max-width: 480px;
    margin: 60px auto;
}
#recherche-group span{
	background-color: #ed8111;
    color: #fff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 0 60px;
    border: 1px solid #ed8111;
    font-size: 20px;
}
#infos-group{
	margin: 30px 0;
}
#input-recherche{
	border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
/***************************
------- Offres ------
*****************************/
.fa-pointer:before {
    content: url('../img/icons/pointer.png');
}
.fa-search-mobile:before {
    content: url('../img/icons/search-mobile.png');
}
.fa-entretien:before {
    content: url('../img/icons/right-entretien.png');
}

#offres{
	background-image: url(../img/bg-gray.png);
	background-repeat: no-repeat;
	background-position: center;
}
.offre-box{
	background-color: #fff;
	min-height: 300px;
	
	
	-moz-box-shadow: 2px 2px 6px 0px #656565;
	-webkit-box-shadow: 2px 2px 6px 0px #656565;
	-o-box-shadow: 2px 2px 6px 0px #656565;
	box-shadow: 2px 2px 6px 0px #656565;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.header-offre-box{
		
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
	background: url(../img/icons/bg-wifi.png) left top no-repeat;
	background-color: #4a5861;
	padding: 1px 0;
}
.header-offre-box h3{
	color: #fff;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
button.btn-detail{
	background-color: #ed8111;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	border: none;
    border-radius: 300px;
	padding: 6px 50px;
    font-size: 16px;
}
.offre-box .footer-btn{
	position: absolute;
    bottom: 30px;
    width: 90%;
}
#tt-offres{	
	text-align: right;
}
#tt-offres a{
	color: #fff;
}
/***************************
------- Contact ------
*****************************/
.fa-envelope-o{
	color: #ed8111;
}

/***************************
------- Footer ------
*****************************/
footer{
	text-align: center;
    background-color: #4a5861;
    color: #fff;
    padding: 10px 0;
}
footer a{
	color: #fff;
}
.reseaux-sociaux a{
	margin: 0 10px;
}

/***************************
----------- Recherche/Une -----------
*****************************/

#header-recherche, #header-une{
	background-position: center;
    background-image: url(../img/bg-recherche.png) !important;
	min-height: 310px !important;
}
.header-pages{
	background-color: rgba(74, 88, 97, 0.80) !important;
}
.header-pages h3{
	font-family: 'Roboto', sans-serif;
}
.header-pages span{
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	color: #ed8111;
}
.filter-select {
    margin: 0 auto;
}

.filter-select select {
    border-radius: 50px !important;
    border-radius: 50px !important;
}
.ctn-btn-lancer {  
    text-align: center;
    margin-top: 50px;
}

section#all-offres {
    padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.featured-box{
	padding:0 0 0 0;
	margin-bottom:25px;
	font-size:14px;
	position: relative;
	
	-moz-box-shadow: 2px 2px 6px 0px #656565;
	-webkit-box-shadow: 2px 2px 6px 0px #656565;
	-o-box-shadow: 2px 2px 6px 0px #656565;
	box-shadow: 2px 2px 6px 0px #656565;	
}
.featured-box h3{
	margin-bottom:5px;
	color: #4a5861;
}
.featured-box p{
	line-height:22px;
	color: #ed8111;
}

.featured-box-col1{
	width: 120px;
    float: left;       
    padding: 16px 0;
    text-align: center;
    margin-right: 50px;
	background-color: #4a5861;
	color: #fff;
}
.featured-box-col1 span{
	color: #fff;
	font-size: 30px;
    font-weight: 900;
}

.featured-box-col2{
	overflow:hidden;
	padding-left: 10px;
}
.featured-box-col3 {
	padding: 27px;
	position: absolute;
	right: 0;
	top: 0;
}
.ctn-voir-offres{
	text-align: center;
}

/***************************
----------- Login -----------
*****************************/

.header-orange{
	background: url(../img/bg-orange.png) repeat-y bottom;
    min-height: 150px !important;
}
.header-orange h3{
	text-align: center;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	padding-top: 70px;
}
#login-section {
    max-width: 350px;
    margin: 0 auto;
}
#login-section p{
	text-align: center;
}
.from-section input{
	border-radius: 50px;
}
.from-section label{
	color: #ed8111; 
}
.form-btn{
	text-align: center;
}

#annonces-nbr{
	-moz-box-shadow: 2px 2px 6px 0px #656565;
	-webkit-box-shadow: 2px 2px 6px 0px #656565;
	-o-box-shadow: 2px 2px 6px 0px #656565;
	box-shadow: 2px 2px 6px 0px #656565;
	background-color: #fff;
	border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;    
    padding-top: 10px;
    font-size: 40px;
    margin: 0 auto;
	color: #000;
	position: absolute;
    right: 47%;
}
#filter-mes-offres label{	
    border-radius: 50px;
    padding: 5px 30px;
    color: #fff;
}
#filter-mes-offres{
	margin-top: 70px;
}
.accepte{
	background-color: #4eb58b;
}
.en-attente{
	background-color: #adbbc3;
}
.refuse{
	background-color: #e94b48;
}
.status-footer p{
	color: #fff !important;
	text-align: left !important;
	font-size: 13px;
	border: 1px solid transparent;
    padding: 0 20px;
}
.status-footer p span{	
    float: right;
	font-size: 13px
}
